.register2 {
    padding: 20px;
    min-height: 100vh;
    justify-content: center;
    align-items: center;
    display: flex;

    form {
        color: white;
        width: 500px;
        display: flex;
        flex-direction: column;
        gap: 20px;
        border: 1px solid white;
        padding: 20px;
        border-radius: 20px;
        box-shadow: 0 0 10px rgba(255, 255, 255, 0.7);
        backdrop-filter: blur(10px);
    }
    input {
        padding: 10px;
        background-color: transparent;
        border: none;
        border-bottom: 1px solid white;
        color: white;
        outline: none;
    }
    label {
        font-weight: bold;
    }
    label i {
        margin-right: 10px;
    }
    button {
        padding: 10px 20px;
        border: none;
        border-radius: 20px;
        background-color: white;
        color: black;
        font-size: 14px;
        cursor: pointer;
        font-weight: bold;
    }
    img {
        width: 200px;
        aspect-ratio: 1;
    }
    div {
        display: flex;
        justify-content: center;
        gap: 10px;
    }
    input[type="number"]::-webkit-outer-spin-button,
    input[type="number"]::-webkit-inner-spin-button {
        -webkit-appearance: none;
        margin: 0;
    }
}